/* Esri Developer & Technology Summit Demo Template */
/* Demo template theming example */

body calcite-navigation-logo{
  --calcite-color-text-2:#737373;  
}
body.calcite-mode-dark calcite-navigation-logo{
  --calcite-icon-color:#8FD0FF;
  --calcite-color-text-2:#C7C7C7;
}


html,
body,
arcgis-map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}