body calcite-navigation-logo {
  --calcite-color-text-2: #737373;
}
body.calcite-mode-dark calcite-navigation-logo {
  --calcite-icon-color: #8fd0ff;
  --calcite-color-text-2: #c7c7c7;
}
html,
body {
  margin: 0;
  height: 100%;
}
calcite-navigation-logo {
  --calcite-navigation-logo-heading-color: var(--calcite-color-brand);
}
#animationControl {
  margin-right: 1.5em;
}
